// Additions to the base bludit and Future Imperfect styles
// Austin Tindle

// Override wrapper to allow for three.scss

/* Wrapper */

.wrapper {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	margin: 0 auto;
	max-width: 100%;
	opacity: 1;
	padding:  0 4.5em;
	width: 90em;
}

	body.is-menu-visible .wrapper {
		opacity: 0.15;
	}

	@media screen and (max-width: 1680px) {

		.wrapper {
			padding: 0 3em;
		}

	}

	@media screen and (max-width: 1280px) {

		.wrapper {
			display: block;
		}

	}

	@media screen and (max-width: 736px) {

		.wrapper {
			padding: 0 1.5em;
		}

	}

// Override some sidebar styles

#intro {
	
	header {

		h2 {
			padding: 1em 0;
		}
	}
}
